<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <%= csrf_meta_tag() %>
    <.live_title><%= assigns[:page_title] || "YTD" %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      href={Routes.static_path(@conn, "/apple-icon-180x180.png")}
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href={Routes.static_path(@conn, "/apple-icon-180x180.png")}
      rel="icon"
      sizes="180x180"
      type="image/png"
    />
    <link
      href={Routes.static_path(@conn, "/favicon-96x96.png")}
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <script src="https://kit.fontawesome.com/5e62224e0c.js" crossorigin="anonymous">
    </script>
  </head>
  <body class="bg-strava-orange dark:bg-black text-white dark:text-strava-orange font-sans">
    <div class="flex justify-center items-center">
      <div class="m-2 w-144">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
