a href="#{home_path(@conn, :index, activity: "run")}"
  = img_tag static_path(@conn, "/images/run.png"), class: "ytd-nav"
= img_tag static_path(@conn, "/images/ride-active.png"), class: "ytd-nav"
a href="#{home_path(@conn, :index, activity: "swim")}"
  = img_tag static_path(@conn, "/images/swim.png"), class: "ytd-nav"
hr.top
= render "data.html", conn: @conn, profile_url: @data.profile_url, values: @data.ride
hr
