= img_tag static_path(@conn, "/images/run-active.png"), class: "ytd-nav"
a href="#{home_path(@conn, :index, activity: "ride")}"
  = img_tag static_path(@conn, "/images/ride.png"), class: "ytd-nav"
a href="#{home_path(@conn, :index, activity: "swim")}"
  = img_tag static_path(@conn, "/images/swim.png"), class: "ytd-nav"
hr.top
= render "data.html", conn: @conn, profile_url: @data.profile_url, values: @data.run, verb: "run"
hr
