a href="/run"
  = img_tag static_path(@conn, "/images/run.png"), class: "ytd-nav"
a href="/ride"
  = img_tag static_path(@conn, "/images/ride.png"), class: "ytd-nav"
= img_tag static_path(@conn, "/images/swim-active.png"), class: "ytd-nav"
hr.top
= render "data.html", conn: @conn, profile_url: @data.profile_url, values: @data.swim, verb: "swum"
hr
